* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

ul li {
  list-style: none;
  margin: 0 40px;
}

ul li .fab {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
}

ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 20px rgba(0, 0, 0, 0.5);
}

ul li:hover .fab {
  color: #fff;
}

ul li:hover:nth-child(1) a {
  background: #1877f2;
}

ul li:hover:nth-child(1) a::before {
  background: #1562c7;
}

ul li:hover:nth-child(1) a::after {
  background: #1562c7;
}

ul li:hover:nth-child(2) a {
  background: #1da1f2;
}

ul li:hover:nth-child(2) a::before {
  background: #1784c7;
}

ul li:hover:nth-child(2) a::after {
  background: #1784c7;
}

ul li:hover:nth-child(3) a {
  background: #007bb5;
}

ul li:hover:nth-child(3) a::before {
  background: #01557c;
}

ul li:hover:nth-child(3) a::after {
  background: #01557c;
}

ul li:hover:nth-child(4) a {
  background: #c32aa3;
}

ul li:hover:nth-child(4) a::before {
  background: #851c6e;
}

ul li:hover:nth-child(4) a::after {
  background: #851c6e;
}

ul li:hover:nth-child(5) a {
  background: #dd4b39;
}

ul li:hover:nth-child(5) a::before {
  background: #852d22;
}

ul li:hover:nth-child(5) a::after {
  background: #852d22;
}
